--
-- PostgreSQL database dump
--

-- Dumped from database version 14.5
-- Dumped by pg_dump version 14.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: adminpack; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS adminpack WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION adminpack; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION adminpack IS 'administrative functions for PostgreSQL';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.accounts (
    pk integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    verified boolean DEFAULT false NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.accounts OWNER TO samdhana;

--
-- Name: accounts_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.accounts_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.accounts_pk_seq OWNER TO samdhana;

--
-- Name: accounts_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.accounts_pk_seq OWNED BY public.accounts.pk;


--
-- Name: areas; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.areas (
    pk integer NOT NULL,
    name text NOT NULL,
    country_pk integer NOT NULL,
    province_pk integer NOT NULL,
    city_pk integer NOT NULL,
    user_pk integer NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.areas OWNER TO samdhana;

--
-- Name: areas_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.areas_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.areas_pk_seq OWNER TO samdhana;

--
-- Name: areas_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.areas_pk_seq OWNED BY public.areas.pk;


--
-- Name: article_documents; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.article_documents (
    pk integer NOT NULL,
    user_pk integer NOT NULL,
    article_pk integer NOT NULL,
    type text NOT NULL,
    document_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.article_documents OWNER TO samdhana;

--
-- Name: article_documents_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.article_documents_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.article_documents_pk_seq OWNER TO samdhana;

--
-- Name: article_documents_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.article_documents_pk_seq OWNED BY public.article_documents.pk;


--
-- Name: articles; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.articles (
    pk integer NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    user_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.articles OWNER TO samdhana;

--
-- Name: articles_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.articles_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.articles_pk_seq OWNER TO samdhana;

--
-- Name: articles_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.articles_pk_seq OWNED BY public.articles.pk;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.categories (
    pk integer NOT NULL,
    name text NOT NULL,
    user_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.categories OWNER TO samdhana;

--
-- Name: categories_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.categories_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_pk_seq OWNER TO samdhana;

--
-- Name: categories_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.categories_pk_seq OWNED BY public.categories.pk;


--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.chat_messages (
    pk bigint NOT NULL,
    chat_pk bigint NOT NULL,
    user_pk integer NOT NULL,
    message text,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL,
    read boolean DEFAULT false NOT NULL
);


ALTER TABLE public.chat_messages OWNER TO samdhana;

--
-- Name: chat_messages_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.chat_messages_pk_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_messages_pk_seq OWNER TO samdhana;

--
-- Name: chat_messages_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.chat_messages_pk_seq OWNED BY public.chat_messages.pk;


--
-- Name: chat_participants; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.chat_participants (
    pk bigint NOT NULL,
    chat_pk bigint NOT NULL,
    user_pk integer NOT NULL
);


ALTER TABLE public.chat_participants OWNER TO samdhana;

--
-- Name: chat_participants_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.chat_participants_pk_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_participants_pk_seq OWNER TO samdhana;

--
-- Name: chat_participants_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.chat_participants_pk_seq OWNED BY public.chat_participants.pk;


--
-- Name: chats; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.chats (
    pk bigint NOT NULL,
    uuid text,
    title text,
    last_message text,
    user_pk integer NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.chats OWNER TO samdhana;

--
-- Name: chats_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.chats_pk_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chats_pk_seq OWNER TO samdhana;

--
-- Name: chats_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.chats_pk_seq OWNED BY public.chats.pk;


--
-- Name: cities; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.cities (
    pk integer NOT NULL,
    name text NOT NULL,
    country_pk integer NOT NULL,
    province_pk integer NOT NULL,
    user_pk integer NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.cities OWNER TO samdhana;

--
-- Name: cities_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.cities_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cities_pk_seq OWNER TO samdhana;

--
-- Name: cities_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.cities_pk_seq OWNED BY public.cities.pk;


--
-- Name: countries; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.countries (
    pk integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    dial_code integer NOT NULL,
    currency_name text NOT NULL,
    currency_symbol text NOT NULL,
    currency_code text NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    active boolean DEFAULT false NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.countries OWNER TO samdhana;

--
-- Name: countries_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.countries_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.countries_pk_seq OWNER TO samdhana;

--
-- Name: countries_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.countries_pk_seq OWNED BY public.countries.pk;


--
-- Name: documents; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.documents (
    pk integer NOT NULL,
    original_name text NOT NULL,
    filename text NOT NULL,
    path text NOT NULL,
    mime_type text NOT NULL,
    size numeric NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.documents OWNER TO samdhana;

--
-- Name: documents_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.documents_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.documents_pk_seq OWNER TO samdhana;

--
-- Name: documents_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.documents_pk_seq OWNED BY public.documents.pk;


--
-- Name: emails; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.emails (
    pk integer NOT NULL,
    uuid text NOT NULL,
    "from" text NOT NULL,
    from_name text NOT NULL,
    "to" text NOT NULL,
    to_name text NOT NULL,
    cc text,
    bcc text,
    subject text NOT NULL,
    body text NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    sent text DEFAULT false NOT NULL,
    archived boolean DEFAULT false NOT NULL,
    user_pk integer NOT NULL
);


ALTER TABLE public.emails OWNER TO samdhana;

--
-- Name: emails_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.emails_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.emails_pk_seq OWNER TO samdhana;

--
-- Name: emails_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.emails_pk_seq OWNED BY public.emails.pk;


--
-- Name: genders; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.genders (
    pk integer NOT NULL,
    name text NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.genders OWNER TO samdhana;

--
-- Name: genders_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.genders_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.genders_pk_seq OWNER TO samdhana;

--
-- Name: genders_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.genders_pk_seq OWNED BY public.genders.pk;


--
-- Name: inquiries; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.inquiries (
    pk integer NOT NULL,
    uuid text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    subject text NOT NULL,
    message text NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.inquiries OWNER TO samdhana;

--
-- Name: inquiries_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.inquiries_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inquiries_pk_seq OWNER TO samdhana;

--
-- Name: inquiries_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.inquiries_pk_seq OWNED BY public.inquiries.pk;


--
-- Name: logs; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.logs (
    pk bigint NOT NULL,
    model text NOT NULL,
    model_pk integer NOT NULL,
    details jsonb,
    user_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.logs OWNER TO samdhana;

--
-- Name: logs_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.logs_pk_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.logs_pk_seq OWNER TO samdhana;

--
-- Name: logs_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.logs_pk_seq OWNED BY public.logs.pk;


--
-- Name: measurements; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.measurements (
    pk integer NOT NULL,
    symbol text NOT NULL,
    name text NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.measurements OWNER TO samdhana;

--
-- Name: measurements_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.measurements_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.measurements_pk_seq OWNER TO samdhana;

--
-- Name: measurements_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.measurements_pk_seq OWNED BY public.measurements.pk;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.migrations OWNER TO samdhana;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO samdhana;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.notifications (
    pk bigint NOT NULL,
    title text,
    details text,
    user_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.notifications OWNER TO samdhana;

--
-- Name: notifications_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.notifications_pk_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_pk_seq OWNER TO samdhana;

--
-- Name: notifications_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.notifications_pk_seq OWNED BY public.notifications.pk;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.orders (
    pk integer NOT NULL,
    uuid text NOT NULL,
    user_pk integer NOT NULL,
    product_pk integer NOT NULL,
    quantity numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    measurement_pk integer NOT NULL,
    price numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    status_pk integer NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.orders OWNER TO samdhana;

--
-- Name: orders_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.orders_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_pk_seq OWNER TO samdhana;

--
-- Name: orders_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.orders_pk_seq OWNED BY public.orders.pk;


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.permissions (
    pk bigint NOT NULL,
    parent text NOT NULL,
    "group" text NOT NULL,
    name text NOT NULL,
    details jsonb,
    user_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.permissions OWNER TO samdhana;

--
-- Name: permissions_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.permissions_pk_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permissions_pk_seq OWNER TO samdhana;

--
-- Name: permissions_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.permissions_pk_seq OWNED BY public.permissions.pk;


--
-- Name: product_documents; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.product_documents (
    pk integer NOT NULL,
    user_pk integer NOT NULL,
    type text NOT NULL,
    document_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    product_pk integer NOT NULL,
    "default" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.product_documents OWNER TO samdhana;

--
-- Name: product_documents_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.product_documents_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.product_documents_pk_seq OWNER TO samdhana;

--
-- Name: product_documents_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.product_documents_pk_seq OWNED BY public.product_documents.pk;


--
-- Name: product_ratings; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.product_ratings (
    pk integer NOT NULL,
    user_pk integer NOT NULL,
    product_pk integer NOT NULL,
    rating numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    message text,
    anonymous boolean DEFAULT false NOT NULL
);


ALTER TABLE public.product_ratings OWNER TO samdhana;

--
-- Name: product_ratings_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.product_ratings_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.product_ratings_pk_seq OWNER TO samdhana;

--
-- Name: product_ratings_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.product_ratings_pk_seq OWNED BY public.product_ratings.pk;


--
-- Name: products; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.products (
    pk integer NOT NULL,
    uuid text NOT NULL,
    user_pk integer NOT NULL,
    type text NOT NULL,
    name text NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL,
    measurement_pk integer NOT NULL,
    country_pk integer NOT NULL,
    description text NOT NULL,
    quantity numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    price_from numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    price_to numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    category_pk integer NOT NULL
);


ALTER TABLE public.products OWNER TO samdhana;

--
-- Name: products_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.products_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.products_pk_seq OWNER TO samdhana;

--
-- Name: products_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.products_pk_seq OWNED BY public.products.pk;


--
-- Name: provinces; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.provinces (
    pk integer NOT NULL,
    name text NOT NULL,
    country_pk integer NOT NULL,
    active boolean DEFAULT false NOT NULL,
    user_pk integer NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.provinces OWNER TO samdhana;

--
-- Name: provinces_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.provinces_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.provinces_pk_seq OWNER TO samdhana;

--
-- Name: provinces_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.provinces_pk_seq OWNED BY public.provinces.pk;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.roles (
    pk bigint NOT NULL,
    name text NOT NULL,
    details text,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.roles OWNER TO samdhana;

--
-- Name: roles_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.roles_pk_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_pk_seq OWNER TO samdhana;

--
-- Name: roles_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.roles_pk_seq OWNED BY public.roles.pk;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.sessions (
    pk integer NOT NULL,
    token text NOT NULL,
    expiration timestamp with time zone,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    account_pk integer
);


ALTER TABLE public.sessions OWNER TO samdhana;

--
-- Name: sessions_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.sessions_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sessions_pk_seq OWNER TO samdhana;

--
-- Name: sessions_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.sessions_pk_seq OWNED BY public.sessions.pk;


--
-- Name: slider_documents; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.slider_documents (
    pk integer NOT NULL,
    user_pk integer NOT NULL,
    slider_pk integer NOT NULL,
    type text NOT NULL,
    document_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.slider_documents OWNER TO samdhana;

--
-- Name: slider_documents_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.slider_documents_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.slider_documents_pk_seq OWNER TO samdhana;

--
-- Name: slider_documents_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.slider_documents_pk_seq OWNED BY public.slider_documents.pk;


--
-- Name: sliders; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.sliders (
    pk integer NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    details text NOT NULL,
    user_pk integer NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.sliders OWNER TO samdhana;

--
-- Name: sliders_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.sliders_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sliders_pk_seq OWNER TO samdhana;

--
-- Name: sliders_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.sliders_pk_seq OWNED BY public.sliders.pk;


--
-- Name: statuses; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.statuses (
    pk integer NOT NULL,
    type text NOT NULL,
    name text NOT NULL,
    user_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.statuses OWNER TO samdhana;

--
-- Name: statuses_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.statuses_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.statuses_pk_seq OWNER TO samdhana;

--
-- Name: statuses_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.statuses_pk_seq OWNED BY public.statuses.pk;


--
-- Name: ticket_messages; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.ticket_messages (
    pk integer NOT NULL,
    user_pk integer NOT NULL,
    message text NOT NULL,
    ticket_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.ticket_messages OWNER TO samdhana;

--
-- Name: ticket_messages_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.ticket_messages_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ticket_messages_pk_seq OWNER TO samdhana;

--
-- Name: ticket_messages_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.ticket_messages_pk_seq OWNED BY public.ticket_messages.pk;


--
-- Name: tickets; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.tickets (
    pk integer NOT NULL,
    uuid text NOT NULL,
    user_pk integer NOT NULL,
    category text NOT NULL,
    subject text NOT NULL,
    status text NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.tickets OWNER TO samdhana;

--
-- Name: tickets_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.tickets_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tickets_pk_seq OWNER TO samdhana;

--
-- Name: tickets_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.tickets_pk_seq OWNED BY public.tickets.pk;


--
-- Name: typeorm_metadata; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.typeorm_metadata (
    type character varying NOT NULL,
    database character varying,
    schema character varying,
    "table" character varying,
    name character varying,
    value text
);


ALTER TABLE public.typeorm_metadata OWNER TO samdhana;

--
-- Name: user_addresses; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.user_addresses (
    pk integer NOT NULL,
    type text NOT NULL,
    province_pk integer NOT NULL,
    city_pk integer NOT NULL,
    area_pk integer NOT NULL,
    address text NOT NULL,
    user_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    "default" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.user_addresses OWNER TO samdhana;

--
-- Name: user_addresses_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.user_addresses_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_addresses_pk_seq OWNER TO samdhana;

--
-- Name: user_addresses_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.user_addresses_pk_seq OWNED BY public.user_addresses.pk;


--
-- Name: user_cart; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.user_cart (
    pk integer NOT NULL,
    user_pk integer NOT NULL,
    product_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    product integer
);


ALTER TABLE public.user_cart OWNER TO samdhana;

--
-- Name: user_cart_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.user_cart_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_cart_pk_seq OWNER TO samdhana;

--
-- Name: user_cart_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.user_cart_pk_seq OWNED BY public.user_cart.pk;


--
-- Name: user_documents; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.user_documents (
    pk integer NOT NULL,
    user_pk integer NOT NULL,
    type text NOT NULL,
    document_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_documents OWNER TO samdhana;

--
-- Name: user_documents_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.user_documents_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_documents_pk_seq OWNER TO samdhana;

--
-- Name: user_documents_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.user_documents_pk_seq OWNED BY public.user_documents.pk;


--
-- Name: user_follow; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.user_follow (
    pk integer NOT NULL,
    following integer NOT NULL,
    follower integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_follow OWNER TO samdhana;

--
-- Name: user_follow_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.user_follow_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_follow_pk_seq OWNER TO samdhana;

--
-- Name: user_follow_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.user_follow_pk_seq OWNED BY public.user_follow.pk;


--
-- Name: user_permissions; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.user_permissions (
    pk integer NOT NULL,
    permission_pk bigint NOT NULL,
    user_pk integer NOT NULL
);


ALTER TABLE public.user_permissions OWNER TO samdhana;

--
-- Name: user_permissions_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.user_permissions_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_permissions_pk_seq OWNER TO samdhana;

--
-- Name: user_permissions_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.user_permissions_pk_seq OWNED BY public.user_permissions.pk;


--
-- Name: user_ratings; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.user_ratings (
    pk integer NOT NULL,
    rating numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    user_pk integer NOT NULL,
    created_by integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    message text
);


ALTER TABLE public.user_ratings OWNER TO samdhana;

--
-- Name: user_ratings_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.user_ratings_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_ratings_pk_seq OWNER TO samdhana;

--
-- Name: user_ratings_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.user_ratings_pk_seq OWNED BY public.user_ratings.pk;


--
-- Name: users; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.users (
    pk integer NOT NULL,
    uuid text NOT NULL,
    last_name text NOT NULL,
    first_name text NOT NULL,
    middle_name text,
    gender_pk integer,
    birthdate date NOT NULL,
    mobile_number text NOT NULL,
    account_pk integer NOT NULL,
    archived boolean DEFAULT false NOT NULL,
    email_address text NOT NULL,
    country_pk integer NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    role_pk bigint NOT NULL,
    about text
);


ALTER TABLE public.users OWNER TO samdhana;

--
-- Name: users_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.users_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_pk_seq OWNER TO samdhana;

--
-- Name: users_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.users_pk_seq OWNED BY public.users.pk;


--
-- Name: validations; Type: TABLE; Schema: public; Owner: samdhana
--

CREATE TABLE public.validations (
    pk integer NOT NULL,
    type text NOT NULL,
    value text NOT NULL,
    status text NOT NULL,
    date_created timestamp with time zone DEFAULT now() NOT NULL,
    archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.validations OWNER TO samdhana;

--
-- Name: validations_pk_seq; Type: SEQUENCE; Schema: public; Owner: samdhana
--

CREATE SEQUENCE public.validations_pk_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.validations_pk_seq OWNER TO samdhana;

--
-- Name: validations_pk_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: samdhana
--

ALTER SEQUENCE public.validations_pk_seq OWNED BY public.validations.pk;


--
-- Name: accounts pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.accounts ALTER COLUMN pk SET DEFAULT nextval('public.accounts_pk_seq'::regclass);


--
-- Name: areas pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.areas ALTER COLUMN pk SET DEFAULT nextval('public.areas_pk_seq'::regclass);


--
-- Name: article_documents pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.article_documents ALTER COLUMN pk SET DEFAULT nextval('public.article_documents_pk_seq'::regclass);


--
-- Name: articles pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.articles ALTER COLUMN pk SET DEFAULT nextval('public.articles_pk_seq'::regclass);


--
-- Name: categories pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.categories ALTER COLUMN pk SET DEFAULT nextval('public.categories_pk_seq'::regclass);


--
-- Name: chat_messages pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.chat_messages ALTER COLUMN pk SET DEFAULT nextval('public.chat_messages_pk_seq'::regclass);


--
-- Name: chat_participants pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.chat_participants ALTER COLUMN pk SET DEFAULT nextval('public.chat_participants_pk_seq'::regclass);


--
-- Name: chats pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.chats ALTER COLUMN pk SET DEFAULT nextval('public.chats_pk_seq'::regclass);


--
-- Name: cities pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.cities ALTER COLUMN pk SET DEFAULT nextval('public.cities_pk_seq'::regclass);


--
-- Name: countries pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.countries ALTER COLUMN pk SET DEFAULT nextval('public.countries_pk_seq'::regclass);


--
-- Name: documents pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.documents ALTER COLUMN pk SET DEFAULT nextval('public.documents_pk_seq'::regclass);


--
-- Name: emails pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.emails ALTER COLUMN pk SET DEFAULT nextval('public.emails_pk_seq'::regclass);


--
-- Name: genders pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.genders ALTER COLUMN pk SET DEFAULT nextval('public.genders_pk_seq'::regclass);


--
-- Name: inquiries pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.inquiries ALTER COLUMN pk SET DEFAULT nextval('public.inquiries_pk_seq'::regclass);


--
-- Name: logs pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.logs ALTER COLUMN pk SET DEFAULT nextval('public.logs_pk_seq'::regclass);


--
-- Name: measurements pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.measurements ALTER COLUMN pk SET DEFAULT nextval('public.measurements_pk_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: notifications pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.notifications ALTER COLUMN pk SET DEFAULT nextval('public.notifications_pk_seq'::regclass);


--
-- Name: orders pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.orders ALTER COLUMN pk SET DEFAULT nextval('public.orders_pk_seq'::regclass);


--
-- Name: permissions pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.permissions ALTER COLUMN pk SET DEFAULT nextval('public.permissions_pk_seq'::regclass);


--
-- Name: product_documents pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_documents ALTER COLUMN pk SET DEFAULT nextval('public.product_documents_pk_seq'::regclass);


--
-- Name: product_ratings pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_ratings ALTER COLUMN pk SET DEFAULT nextval('public.product_ratings_pk_seq'::regclass);


--
-- Name: products pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.products ALTER COLUMN pk SET DEFAULT nextval('public.products_pk_seq'::regclass);


--
-- Name: provinces pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.provinces ALTER COLUMN pk SET DEFAULT nextval('public.provinces_pk_seq'::regclass);


--
-- Name: roles pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.roles ALTER COLUMN pk SET DEFAULT nextval('public.roles_pk_seq'::regclass);


--
-- Name: sessions pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.sessions ALTER COLUMN pk SET DEFAULT nextval('public.sessions_pk_seq'::regclass);


--
-- Name: slider_documents pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.slider_documents ALTER COLUMN pk SET DEFAULT nextval('public.slider_documents_pk_seq'::regclass);


--
-- Name: sliders pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.sliders ALTER COLUMN pk SET DEFAULT nextval('public.sliders_pk_seq'::regclass);


--
-- Name: statuses pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.statuses ALTER COLUMN pk SET DEFAULT nextval('public.statuses_pk_seq'::regclass);


--
-- Name: ticket_messages pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.ticket_messages ALTER COLUMN pk SET DEFAULT nextval('public.ticket_messages_pk_seq'::regclass);


--
-- Name: tickets pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.tickets ALTER COLUMN pk SET DEFAULT nextval('public.tickets_pk_seq'::regclass);


--
-- Name: user_addresses pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_addresses ALTER COLUMN pk SET DEFAULT nextval('public.user_addresses_pk_seq'::regclass);


--
-- Name: user_cart pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_cart ALTER COLUMN pk SET DEFAULT nextval('public.user_cart_pk_seq'::regclass);


--
-- Name: user_documents pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_documents ALTER COLUMN pk SET DEFAULT nextval('public.user_documents_pk_seq'::regclass);


--
-- Name: user_follow pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_follow ALTER COLUMN pk SET DEFAULT nextval('public.user_follow_pk_seq'::regclass);


--
-- Name: user_permissions pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_permissions ALTER COLUMN pk SET DEFAULT nextval('public.user_permissions_pk_seq'::regclass);


--
-- Name: user_ratings pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_ratings ALTER COLUMN pk SET DEFAULT nextval('public.user_ratings_pk_seq'::regclass);


--
-- Name: users pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.users ALTER COLUMN pk SET DEFAULT nextval('public.users_pk_seq'::regclass);


--
-- Name: validations pk; Type: DEFAULT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.validations ALTER COLUMN pk SET DEFAULT nextval('public.validations_pk_seq'::regclass);


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: samdhana
--



--
-- Data for Name: areas; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.areas (pk, name, country_pk, province_pk, city_pk, user_pk, archived) FROM stdin;
1	Test	173	3	2	4	f
\.


--
-- Data for Name: article_documents; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.article_documents (pk, user_pk, article_pk, type, document_pk, date_created) FROM stdin;
1	19	1	background	33	2022-10-08 15:30:58.387874+08
2	19	2	background	36	2022-10-08 16:08:40.585509+08
3	19	3	background	37	2022-10-08 16:08:40.598647+08
\.


--
-- Data for Name: articles; Type: TABLE DATA; Schema: public; Owner: samdhana
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.categories (pk, name, user_pk, date_created, archived) FROM stdin;
1	Vegetables	4	2022-10-15 07:35:19.305759+08	f
2	Fruits	4	2022-10-15 07:35:19.314961+08	f
3	Seeds	4	2022-10-15 07:35:19.316083+08	f
4	Herbs	4	2022-10-15 07:35:19.317231+08	f
\.


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.chat_messages (pk, chat_pk, user_pk, message, date_created, archived, read) FROM stdin;
\.


--
-- Data for Name: chat_participants; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.chat_participants (pk, chat_pk, user_pk) FROM stdin;
\.


--
-- Data for Name: chats; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.chats (pk, uuid, title, last_message, user_pk, archived) FROM stdin;
\.


--
-- Data for Name: cities; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.cities (pk, name, country_pk, province_pk, user_pk, archived) FROM stdin;
2	Test	173	3	4	f
\.


--
-- Data for Name: countries; Type: TABLE DATA; Schema: public; Owner: samdhana
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: samdhana
--



--
-- Data for Name: emails; Type: TABLE DATA; Schema: public; Owner: samdhana
--



--
-- Data for Name: genders; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.genders (pk, name, archived) FROM stdin;
6	Male	f
7	Female	f
8	Prefer not to say	f
\.


--
-- Data for Name: inquiries; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.inquiries (pk, uuid, name, email, subject, message, date_created, archived) FROM stdin;
\.


--
-- Data for Name: logs; Type: TABLE DATA; Schema: public; Owner: samdhana
--



--
-- Data for Name: measurements; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.measurements (pk, symbol, name, date_created, archived) FROM stdin;
1	g	Gram	2022-09-19 19:12:07.982069+08	f
2	kg	Kilogram	2022-09-19 19:12:07.982069+08	f
3	lb	Pound	2022-09-19 19:12:07.982069+08	f
4	pc	Piece	2022-09-19 19:12:07.982069+08	f
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.migrations (id, "timestamp", name) FROM stdin;
114	1643278885997	InsertGendersMainAdmin1643278885997
115	1643278885997	InsertAccountsMainAdmin1643278885997
116	1643512893273	InsertUsersMainAdmin1643512893273
117	1663495075545	InsertMeasurementsMainAdmin1663495075545
118	1663931160470	InsertCountriesMainAdmin1663931160470
120	1664742674514	InsertUserRoles1664742674514
121	1664799656030	InsertTestAddress1664799656030
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.notifications (pk, title, details, user_pk, date_created, archived) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.orders (pk, uuid, user_pk, product_pk, quantity, measurement_pk, price, date_created, status_pk, archived) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.permissions (pk, parent, "group", name, details, user_pk, date_created, archived) FROM stdin;
\.


--
-- Data for Name: product_documents; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.product_documents (pk, user_pk, type, document_pk, date_created, product_pk, "default") FROM stdin;
2	4	slide	27	2022-10-15 08:36:48.542045+08	10	f
3	4	slide	28	2022-10-15 08:36:48.543676+08	10	f
6	4	slide	29	2022-10-15 08:37:15.69868+08	10	f
1	4	slide	26	2022-10-15 08:36:48.537156+08	10	t
\.


--
-- Data for Name: product_ratings; Type: TABLE DATA; Schema: public; Owner: samdhana
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: samdhana
--



--
-- Data for Name: provinces; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.provinces (pk, name, country_pk, active, user_pk, archived) FROM stdin;
3	Test	173	t	4	f
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.roles (pk, name, details, date_created, archived) FROM stdin;
1	admin	Administrator	2022-10-03 04:43:43.2389+08	f
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.sessions (pk, token, expiration, date_created, account_pk) FROM stdin;
86	eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiZW1haWxAZ21haWwuY29tIiwic3ViIjoxMTMsImlhdCI6MTY2NTAwNDQzOCwiZXhwIjoxNjY1MDQ3NjM4fQ.zK6G9Sl9wsk_5LZu_S3p8sa8pNEt9ONKlC8L8QPBphY	2022-10-06 17:13:58+08	2022-10-06 05:13:58.483563+08	113
90	eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiZW1haWwwMUBnbWFpbC5jb20iLCJzdWIiOjEzNSwiaWF0IjoxNjY1OTA4MTcwLCJleHAiOjE2NjU5NTEzNzB9.xg-FXER3K2__DjdEv-hZGJ3pYvz63RDn822YdWx3nXA	2022-10-17 04:16:10+08	2022-10-16 16:16:11.037293+08	135
\.


--
-- Data for Name: slider_documents; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.slider_documents (pk, user_pk, slider_pk, type, document_pk, date_created) FROM stdin;
1	4	2	background	26	2022-10-05 06:13:43.287141+08
2	4	2	icon	30	2022-10-05 06:15:46.314376+08
3	4	3	background	32	2022-10-06 06:04:25.177759+08
\.


--
-- Data for Name: sliders; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.sliders (pk, type, title, details, user_pk, archived) FROM stdin;
2	home	Welcome	Samdhana Community Market sit amet, consectuta adipising elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud execitation ullamco laboris	4	f
3	home	Test	Samdhana Community Market sit amet, consectuta adipising elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud execitation ullamco laboris	4	f
\.


--
-- Data for Name: statuses; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.statuses (pk, type, name, user_pk, date_created, archived) FROM stdin;
\.


--
-- Data for Name: ticket_messages; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.ticket_messages (pk, user_pk, message, ticket_pk, date_created, archived) FROM stdin;
\.


--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.tickets (pk, uuid, user_pk, category, subject, status, date_created, archived) FROM stdin;
\.


--
-- Data for Name: typeorm_metadata; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.typeorm_metadata (type, database, schema, "table", name, value) FROM stdin;
\.


--
-- Data for Name: user_addresses; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.user_addresses (pk, type, province_pk, city_pk, area_pk, address, user_pk, date_created, "default") FROM stdin;
11	home	3	2	1	Pasig	11	2022-10-16 21:54:14.772682+08	f
12	home	3	2	1	Pasig	14	2022-10-16 21:54:14.776872+08	f
13	home	3	2	1	Pasig	17	2022-10-16 21:54:14.777748+08	f
14	home	3	2	1	Pasig	18	2022-10-16 21:54:14.77856+08	f
15	home	3	2	1	Pasig	19	2022-10-16 21:54:14.77979+08	f
16	home	3	2	1	Pasig	4	2022-10-16 21:54:14.780636+08	f
\.


--
-- Data for Name: user_cart; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.user_cart (pk, user_pk, product_pk, date_created, product) FROM stdin;
\.


--
-- Data for Name: user_documents; Type: TABLE DATA; Schema: public; Owner: samdhana
--



--
-- Data for Name: user_follow; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.user_follow (pk, following, follower, date_created) FROM stdin;
\.


--
-- Data for Name: user_permissions; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.user_permissions (pk, permission_pk, user_pk) FROM stdin;
\.


--
-- Data for Name: user_ratings; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.user_ratings (pk, rating, user_pk, created_by, date_created, message) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: samdhana
--



--
-- Data for Name: validations; Type: TABLE DATA; Schema: public; Owner: samdhana
--

COPY public.validations (pk, type, value, status, date_created, archived) FROM stdin;
\.


--
-- Name: accounts_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.accounts_pk_seq', 135, true);


--
-- Name: areas_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.areas_pk_seq', 1, true);


--
-- Name: article_documents_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.article_documents_pk_seq', 3, true);


--
-- Name: articles_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.articles_pk_seq', 3, true);


--
-- Name: categories_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.categories_pk_seq', 4, true);


--
-- Name: chat_messages_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.chat_messages_pk_seq', 1, false);


--
-- Name: chat_participants_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.chat_participants_pk_seq', 1, false);


--
-- Name: chats_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.chats_pk_seq', 1, false);


--
-- Name: cities_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.cities_pk_seq', 2, true);


--
-- Name: countries_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.countries_pk_seq', 1, false);


--
-- Name: documents_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.documents_pk_seq', 37, true);


--
-- Name: emails_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.emails_pk_seq', 6, true);


--
-- Name: genders_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.genders_pk_seq', 8, true);


--
-- Name: inquiries_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.inquiries_pk_seq', 1, false);


--
-- Name: logs_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.logs_pk_seq', 9, true);


--
-- Name: measurements_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.measurements_pk_seq', 4, true);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.migrations_id_seq', 121, true);


--
-- Name: notifications_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.notifications_pk_seq', 1, false);


--
-- Name: orders_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.orders_pk_seq', 1, false);


--
-- Name: permissions_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.permissions_pk_seq', 1, false);


--
-- Name: product_documents_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.product_documents_pk_seq', 6, true);


--
-- Name: product_ratings_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.product_ratings_pk_seq', 20, true);


--
-- Name: products_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.products_pk_seq', 10, true);


--
-- Name: provinces_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.provinces_pk_seq', 3, true);


--
-- Name: roles_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.roles_pk_seq', 1, true);


--
-- Name: sessions_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.sessions_pk_seq', 90, true);


--
-- Name: slider_documents_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.slider_documents_pk_seq', 3, true);


--
-- Name: sliders_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.sliders_pk_seq', 3, true);


--
-- Name: statuses_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.statuses_pk_seq', 1, false);


--
-- Name: ticket_messages_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.ticket_messages_pk_seq', 1, false);


--
-- Name: tickets_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.tickets_pk_seq', 1, false);


--
-- Name: user_addresses_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.user_addresses_pk_seq', 16, true);


--
-- Name: user_cart_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.user_cart_pk_seq', 1, false);


--
-- Name: user_documents_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.user_documents_pk_seq', 17, true);


--
-- Name: user_follow_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.user_follow_pk_seq', 1, false);


--
-- Name: user_permissions_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.user_permissions_pk_seq', 1, false);


--
-- Name: user_ratings_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.user_ratings_pk_seq', 1, false);


--
-- Name: users_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.users_pk_seq', 19, true);


--
-- Name: validations_pk_seq; Type: SEQUENCE SET; Schema: public; Owner: samdhana
--

SELECT pg_catalog.setval('public.validations_pk_seq', 1, false);


--
-- Name: user_cart PK_01e5f67e21c3e8f30fc136a12c8; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_cart
    ADD CONSTRAINT "PK_01e5f67e21c3e8f30fc136a12c8" PRIMARY KEY (pk);


--
-- Name: notifications PK_04d308304a612eb1fa65adccc67; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "PK_04d308304a612eb1fa65adccc67" PRIMARY KEY (pk);


--
-- Name: articles PK_064099305bf5f0159186ec04516; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT "PK_064099305bf5f0159186ec04516" PRIMARY KEY (pk);


--
-- Name: genders PK_06c7100711db450db56c58e6a4a; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.genders
    ADD CONSTRAINT "PK_06c7100711db450db56c58e6a4a" PRIMARY KEY (pk);


--
-- Name: product_documents PK_194b95eb1e6839da7fd326f57f2; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_documents
    ADD CONSTRAINT "PK_194b95eb1e6839da7fd326f57f2" PRIMARY KEY (pk);


--
-- Name: categories PK_1d00c379b5fe7d9e14cc28e5983; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "PK_1d00c379b5fe7d9e14cc28e5983" PRIMARY KEY (pk);


--
-- Name: ticket_messages PK_24a5545af667e5dd3855d8e0193; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.ticket_messages
    ADD CONSTRAINT "PK_24a5545af667e5dd3855d8e0193" PRIMARY KEY (pk);


--
-- Name: areas PK_32b0d10dade926d2916be2866a9; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT "PK_32b0d10dade926d2916be2866a9" PRIMARY KEY (pk);


--
-- Name: measurements PK_3951ef13064fce84009e120c1a2; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT "PK_3951ef13064fce84009e120c1a2" PRIMARY KEY (pk);


--
-- Name: cities PK_3983857ae38d07febae8ad159cb; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT "PK_3983857ae38d07febae8ad159cb" PRIMARY KEY (pk);


--
-- Name: validations PK_3e616e88eaa4da97bca5e6df43b; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.validations
    ADD CONSTRAINT "PK_3e616e88eaa4da97bca5e6df43b" PRIMARY KEY (pk);


--
-- Name: chat_participants PK_44245b2509b67347b9ee8d3c3fb; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.chat_participants
    ADD CONSTRAINT "PK_44245b2509b67347b9ee8d3c3fb" PRIMARY KEY (pk);


--
-- Name: accounts PK_44edaa11cb6fb16b9ce5de21071; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT "PK_44edaa11cb6fb16b9ce5de21071" PRIMARY KEY (pk);


--
-- Name: product_ratings PK_64b1f0196c3bac699b7fac96081; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_ratings
    ADD CONSTRAINT "PK_64b1f0196c3bac699b7fac96081" PRIMARY KEY (pk);


--
-- Name: provinces PK_69c05911fc04063f46df0e67211; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.provinces
    ADD CONSTRAINT "PK_69c05911fc04063f46df0e67211" PRIMARY KEY (pk);


--
-- Name: inquiries PK_6afee441b8cbb085fd0a9c36599; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.inquiries
    ADD CONSTRAINT "PK_6afee441b8cbb085fd0a9c36599" PRIMARY KEY (pk);


--
-- Name: logs PK_6e022a31cec2227e911f1ae8b84; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.logs
    ADD CONSTRAINT "PK_6e022a31cec2227e911f1ae8b84" PRIMARY KEY (pk);


--
-- Name: roles PK_71c3016eb83fc3df705b4e2dcf7; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "PK_71c3016eb83fc3df705b4e2dcf7" PRIMARY KEY (pk);


--
-- Name: products PK_825bbd0d479bfa8104307f5df08; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "PK_825bbd0d479bfa8104307f5df08" PRIMARY KEY (pk);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: article_documents PK_8d339ca087cdd924f7a01b98dd7; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.article_documents
    ADD CONSTRAINT "PK_8d339ca087cdd924f7a01b98dd7" PRIMARY KEY (pk);


--
-- Name: slider_documents PK_91ca0530287e2ea2c9ac9f30d93; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.slider_documents
    ADD CONSTRAINT "PK_91ca0530287e2ea2c9ac9f30d93" PRIMARY KEY (pk);


--
-- Name: chats PK_93c7b29c4ca4cfbff40a702aed5; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.chats
    ADD CONSTRAINT "PK_93c7b29c4ca4cfbff40a702aed5" PRIMARY KEY (pk);


--
-- Name: tickets PK_940f149769a6a0a666093341a94; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT "PK_940f149769a6a0a666093341a94" PRIMARY KEY (pk);


--
-- Name: user_ratings PK_974bcf5e5402ffceb365e958bec; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_ratings
    ADD CONSTRAINT "PK_974bcf5e5402ffceb365e958bec" PRIMARY KEY (pk);


--
-- Name: orders PK_9b1292854877d6066ecaf29db1b; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "PK_9b1292854877d6066ecaf29db1b" PRIMARY KEY (pk);


--
-- Name: permissions PK_9e47779cbabd09a6a38caa65bb4; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "PK_9e47779cbabd09a6a38caa65bb4" PRIMARY KEY (pk);


--
-- Name: sessions PK_9fd0342a5194e500bc4a9f33f66; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "PK_9fd0342a5194e500bc4a9f33f66" PRIMARY KEY (pk);


--
-- Name: emails PK_a8099b95bc71de05f40f14b9bce; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.emails
    ADD CONSTRAINT "PK_a8099b95bc71de05f40f14b9bce" PRIMARY KEY (pk);


--
-- Name: statuses PK_b8c3b833beb7d1a9491f8e793df; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.statuses
    ADD CONSTRAINT "PK_b8c3b833beb7d1a9491f8e793df" PRIMARY KEY (pk);


--
-- Name: users PK_be2c939b44777147d26475d7b76; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_be2c939b44777147d26475d7b76" PRIMARY KEY (pk);


--
-- Name: countries PK_d1546a313dc9b99b28b92dbdabd; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.countries
    ADD CONSTRAINT "PK_d1546a313dc9b99b28b92dbdabd" PRIMARY KEY (pk);


--
-- Name: documents PK_d51b5fdfd4c272abb7dff459f71; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT "PK_d51b5fdfd4c272abb7dff459f71" PRIMARY KEY (pk);


--
-- Name: chat_messages PK_d56fdb666df76b80091f84ac6a2; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT "PK_d56fdb666df76b80091f84ac6a2" PRIMARY KEY (pk);


--
-- Name: sliders PK_d5c41cd97ee92a825710dd20054; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.sliders
    ADD CONSTRAINT "PK_d5c41cd97ee92a825710dd20054" PRIMARY KEY (pk);


--
-- Name: user_documents PK_d85a7f53126b84b071fef4a28f1; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_documents
    ADD CONSTRAINT "PK_d85a7f53126b84b071fef4a28f1" PRIMARY KEY (pk);


--
-- Name: user_addresses PK_d870522714299ab5acdbf5b0dfe; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_addresses
    ADD CONSTRAINT "PK_d870522714299ab5acdbf5b0dfe" PRIMARY KEY (pk);


--
-- Name: user_follow PK_dbc9d6d16e3eb775eb0c95c9c7f; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_follow
    ADD CONSTRAINT "PK_dbc9d6d16e3eb775eb0c95c9c7f" PRIMARY KEY (pk);


--
-- Name: user_permissions PK_eb4da454e117d788ad059bd834a; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT "PK_eb4da454e117d788ad059bd834a" PRIMARY KEY (pk);


--
-- Name: slider_documents REL_2b39adc5dcceaed2af84c4164c; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.slider_documents
    ADD CONSTRAINT "REL_2b39adc5dcceaed2af84c4164c" UNIQUE (document_pk);


--
-- Name: product_documents REL_58dbf7c6faaf83e0072c6d12ad; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_documents
    ADD CONSTRAINT "REL_58dbf7c6faaf83e0072c6d12ad" UNIQUE (document_pk);


--
-- Name: user_documents REL_a13c41ba6dc50faf8ccbd03e77; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_documents
    ADD CONSTRAINT "REL_a13c41ba6dc50faf8ccbd03e77" UNIQUE (document_pk);


--
-- Name: users REL_a4c8323a476859969c4411b314; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "REL_a4c8323a476859969c4411b314" UNIQUE (account_pk);


--
-- Name: sessions REL_b3ce9d7e076c8d130ff3f4c9f0; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "REL_b3ce9d7e076c8d130ff3f4c9f0" UNIQUE (account_pk);


--
-- Name: article_documents REL_bb4a788c78ff0cb48099e72337; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.article_documents
    ADD CONSTRAINT "REL_bb4a788c78ff0cb48099e72337" UNIQUE (document_pk);


--
-- Name: orders UQ_04a64e7c04376e27182f8c0fa17; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "UQ_04a64e7c04376e27182f8c0fa17" UNIQUE (uuid);


--
-- Name: user_addresses UQ_2ed21cb96980c6efe83d315003d; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_addresses
    ADD CONSTRAINT "UQ_2ed21cb96980c6efe83d315003d" UNIQUE (type, address, user_pk);


--
-- Name: cities UQ_302dee32d52ad10e589e36807ad; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT "UQ_302dee32d52ad10e589e36807ad" UNIQUE (name, country_pk, province_pk);


--
-- Name: areas UQ_3d1471be00f3dd46430368f4a90; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT "UQ_3d1471be00f3dd46430368f4a90" UNIQUE (name, country_pk, province_pk, city_pk);


--
-- Name: accounts UQ_477e3187cedfb5a3ac121e899c9; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT "UQ_477e3187cedfb5a3ac121e899c9" UNIQUE (username);


--
-- Name: genders UQ_4ff9b0934ba18fa74dd740b9adb; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.genders
    ADD CONSTRAINT "UQ_4ff9b0934ba18fa74dd740b9adb" UNIQUE (name);


--
-- Name: product_documents UQ_5c1324e2f2bce0de5d7232edf37; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_documents
    ADD CONSTRAINT "UQ_5c1324e2f2bce0de5d7232edf37" UNIQUE (type, product_pk, document_pk);


--
-- Name: user_permissions UQ_6438b98b0fee2d46aef118d2d03; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT "UQ_6438b98b0fee2d46aef118d2d03" UNIQUE (permission_pk, user_pk);


--
-- Name: roles UQ_648e3f5447f725579d7d4ffdfb7; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "UQ_648e3f5447f725579d7d4ffdfb7" UNIQUE (name);


--
-- Name: product_ratings UQ_678a82edf3f5c16133d7e56e7a0; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_ratings
    ADD CONSTRAINT "UQ_678a82edf3f5c16133d7e56e7a0" UNIQUE (product_pk, user_pk);


--
-- Name: user_documents UQ_67c735fd04df11a59cf3a8bf258; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_documents
    ADD CONSTRAINT "UQ_67c735fd04df11a59cf3a8bf258" UNIQUE (type, document_pk, user_pk);


--
-- Name: user_follow UQ_7195f036aca412708e563ae4e08; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_follow
    ADD CONSTRAINT "UQ_7195f036aca412708e563ae4e08" UNIQUE (following, follower);


--
-- Name: slider_documents UQ_7572cfe57f5ddd318cf687636c7; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.slider_documents
    ADD CONSTRAINT "UQ_7572cfe57f5ddd318cf687636c7" UNIQUE (type, slider_pk, document_pk);


--
-- Name: provinces UQ_75d42aa5be6d814370131cc89eb; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.provinces
    ADD CONSTRAINT "UQ_75d42aa5be6d814370131cc89eb" UNIQUE (name, country_pk);


--
-- Name: documents UQ_82e5679ba55008bf3bcb4e7c996; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT "UQ_82e5679ba55008bf3bcb4e7c996" UNIQUE (filename);


--
-- Name: categories UQ_8b0be371d28245da6e4f4b61878; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "UQ_8b0be371d28245da6e4f4b61878" UNIQUE (name);


--
-- Name: countries UQ_8c5497bbb1da6e2e954cd9edcb2; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.countries
    ADD CONSTRAINT "UQ_8c5497bbb1da6e2e954cd9edcb2" UNIQUE (name, code);


--
-- Name: users UQ_951b8f1dfc94ac1d0301a14b7e1; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_951b8f1dfc94ac1d0301a14b7e1" UNIQUE (uuid);


--
-- Name: products UQ_98086f14e190574534d5129cd7c; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "UQ_98086f14e190574534d5129cd7c" UNIQUE (uuid);


--
-- Name: statuses UQ_98fe0b5835d5d35fb637c8b461a; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.statuses
    ADD CONSTRAINT "UQ_98fe0b5835d5d35fb637c8b461a" UNIQUE (name, type);


--
-- Name: articles UQ_a9ef3572d06fffe448977b67f6b; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT "UQ_a9ef3572d06fffe448977b67f6b" UNIQUE (title, user_pk);


--
-- Name: inquiries UQ_bd30e8ceecbcc4e84987afad8eb; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.inquiries
    ADD CONSTRAINT "UQ_bd30e8ceecbcc4e84987afad8eb" UNIQUE (uuid);


--
-- Name: sliders UQ_e2c48ed30a2af9a12c43060744c; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.sliders
    ADD CONSTRAINT "UQ_e2c48ed30a2af9a12c43060744c" UNIQUE (type, title);


--
-- Name: tickets UQ_e522585e9439011828e606834e4; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT "UQ_e522585e9439011828e606834e4" UNIQUE (uuid);


--
-- Name: measurements UQ_ecda7925be57c32d6f988ac50b6; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT "UQ_ecda7925be57c32d6f988ac50b6" UNIQUE (name);


--
-- Name: user_ratings UQ_eda9fc304782b1bce210e8d8988; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_ratings
    ADD CONSTRAINT "UQ_eda9fc304782b1bce210e8d8988" UNIQUE (user_pk);


--
-- Name: emails UQ_ee7a49479fc4a5c47be7abc0cac; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.emails
    ADD CONSTRAINT "UQ_ee7a49479fc4a5c47be7abc0cac" UNIQUE (uuid);


--
-- Name: article_documents UQ_f39a0dbd1a7b5dbb075108e9648; Type: CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.article_documents
    ADD CONSTRAINT "UQ_f39a0dbd1a7b5dbb075108e9648" UNIQUE (type, article_pk, document_pk);


--
-- Name: chats FK_005ea225def9a3fdbe0bd3b3881; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.chats
    ADD CONSTRAINT "FK_005ea225def9a3fdbe0bd3b3881" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: article_documents FK_069e83c9be03fe771d374c47cf1; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.article_documents
    ADD CONSTRAINT "FK_069e83c9be03fe771d374c47cf1" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products FK_087b7b63770dc1d5dbc8fff4493; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_087b7b63770dc1d5dbc8fff4493" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: articles FK_0b0b984ae1bced21bdb93d3dc8a; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT "FK_0b0b984ae1bced21bdb93d3dc8a" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: statuses FK_149e2f52bbfc967905c0c0bdd9b; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.statuses
    ADD CONSTRAINT "FK_149e2f52bbfc967905c0c0bdd9b" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_documents FK_163540b25c3a83ef51f39eb0eae; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_documents
    ADD CONSTRAINT "FK_163540b25c3a83ef51f39eb0eae" FOREIGN KEY (product_pk) REFERENCES public.products(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_addresses FK_1cb64ef80c513d283cd0d5f8635; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_addresses
    ADD CONSTRAINT "FK_1cb64ef80c513d283cd0d5f8635" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_follow FK_1d70925f74494baae2ac21af1c6; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_follow
    ADD CONSTRAINT "FK_1d70925f74494baae2ac21af1c6" FOREIGN KEY (following) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: article_documents FK_1e343b61e0e545e2a409b5559a8; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.article_documents
    ADD CONSTRAINT "FK_1e343b61e0e545e2a409b5559a8" FOREIGN KEY (article_pk) REFERENCES public.articles(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: permissions FK_2116b3e3c38389d94e4db84042e; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "FK_2116b3e3c38389d94e4db84042e" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders FK_24f43e4a098e8374aa248515c18; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "FK_24f43e4a098e8374aa248515c18" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_permissions FK_2a4cf7734b89850b083d2beca95; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT "FK_2a4cf7734b89850b083d2beca95" FOREIGN KEY (permission_pk) REFERENCES public.permissions(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: slider_documents FK_2b39adc5dcceaed2af84c4164c1; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.slider_documents
    ADD CONSTRAINT "FK_2b39adc5dcceaed2af84c4164c1" FOREIGN KEY (document_pk) REFERENCES public.documents(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ticket_messages FK_3cce660c98dfa0a674baddf64fc; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.ticket_messages
    ADD CONSTRAINT "FK_3cce660c98dfa0a674baddf64fc" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cities FK_409e06a8bdc87f875f5736613ce; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT "FK_409e06a8bdc87f875f5736613ce" FOREIGN KEY (country_pk) REFERENCES public.countries(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_ratings FK_4ae15cf69728e5c7c2d58fa10a5; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_ratings
    ADD CONSTRAINT "FK_4ae15cf69728e5c7c2d58fa10a5" FOREIGN KEY (created_by) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifications FK_4bd59135c194054d593a417a67b; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "FK_4bd59135c194054d593a417a67b" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: areas FK_4d737b99d81e1d7ef8f8993890e; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT "FK_4d737b99d81e1d7ef8f8993890e" FOREIGN KEY (country_pk) REFERENCES public.countries(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: chat_messages FK_4dbb69bd0a703cbb7118973dec4; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT "FK_4dbb69bd0a703cbb7118973dec4" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: areas FK_4f64fdad2e022de889053b46031; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT "FK_4f64fdad2e022de889053b46031" FOREIGN KEY (province_pk) REFERENCES public.provinces(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: provinces FK_5742cf772c3598a0b5845474297; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.provinces
    ADD CONSTRAINT "FK_5742cf772c3598a0b5845474297" FOREIGN KEY (country_pk) REFERENCES public.countries(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_documents FK_58dbf7c6faaf83e0072c6d12ada; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_documents
    ADD CONSTRAINT "FK_58dbf7c6faaf83e0072c6d12ada" FOREIGN KEY (document_pk) REFERENCES public.documents(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: areas FK_600ae540b56cd467d3bd87dfd63; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT "FK_600ae540b56cd467d3bd87dfd63" FOREIGN KEY (city_pk) REFERENCES public.cities(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_follow FK_61f7c3486846b327519dcb4fc4e; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_follow
    ADD CONSTRAINT "FK_61f7c3486846b327519dcb4fc4e" FOREIGN KEY (follower) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cities FK_66c7e3a28897a16ebce821754aa; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT "FK_66c7e3a28897a16ebce821754aa" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders FK_67252db2edecaf050e60d329ef1; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "FK_67252db2edecaf050e60d329ef1" FOREIGN KEY (measurement_pk) REFERENCES public.measurements(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: slider_documents FK_6bd180179ace4efa37e600b15aa; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.slider_documents
    ADD CONSTRAINT "FK_6bd180179ace4efa37e600b15aa" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: categories FK_78efc20d8d38300f766a4ddd556; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "FK_78efc20d8d38300f766a4ddd556" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders FK_7bcd70826a0f9b7f272d4dec716; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "FK_7bcd70826a0f9b7f272d4dec716" FOREIGN KEY (status_pk) REFERENCES public.statuses(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cities FK_7bcdb18ac82a5ff9784c3450386; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT "FK_7bcdb18ac82a5ff9784c3450386" FOREIGN KEY (province_pk) REFERENCES public.provinces(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ticket_messages FK_7c7563de192fa6595d6e964f168; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.ticket_messages
    ADD CONSTRAINT "FK_7c7563de192fa6595d6e964f168" FOREIGN KEY (ticket_pk) REFERENCES public.tickets(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_cart FK_83598d5bb65ff110b612f8562ad; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_cart
    ADD CONSTRAINT "FK_83598d5bb65ff110b612f8562ad" FOREIGN KEY (product) REFERENCES public.products(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: slider_documents FK_83deded9288542c79217a848ebd; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.slider_documents
    ADD CONSTRAINT "FK_83deded9288542c79217a848ebd" FOREIGN KEY (slider_pk) REFERENCES public.sliders(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: chat_messages FK_86831ac3d50071ca3ecad266341; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT "FK_86831ac3d50071ca3ecad266341" FOREIGN KEY (chat_pk) REFERENCES public.chats(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users FK_90bfa02c366e05e2b311d54e409; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_90bfa02c366e05e2b311d54e409" FOREIGN KEY (gender_pk) REFERENCES public.genders(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products FK_90d98ba1071c1341b895a89ab14; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_90d98ba1071c1341b895a89ab14" FOREIGN KEY (country_pk) REFERENCES public.countries(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: provinces FK_960cc2cdc788d0a0d548d95458e; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.provinces
    ADD CONSTRAINT "FK_960cc2cdc788d0a0d548d95458e" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: emails FK_9654c274ae40ad10fb167d31346; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.emails
    ADD CONSTRAINT "FK_9654c274ae40ad10fb167d31346" FOREIGN KEY (user_pk) REFERENCES public.users(pk);


--
-- Name: sliders FK_99a0ee7fb2e156f99a28107d022; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.sliders
    ADD CONSTRAINT "FK_99a0ee7fb2e156f99a28107d022" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_addresses FK_9a6c47b0718d494448330835b1a; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_addresses
    ADD CONSTRAINT "FK_9a6c47b0718d494448330835b1a" FOREIGN KEY (province_pk) REFERENCES public.provinces(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_addresses FK_9f3f2f7634131bf17568002d181; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_addresses
    ADD CONSTRAINT "FK_9f3f2f7634131bf17568002d181" FOREIGN KEY (area_pk) REFERENCES public.areas(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_documents FK_a13c41ba6dc50faf8ccbd03e778; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_documents
    ADD CONSTRAINT "FK_a13c41ba6dc50faf8ccbd03e778" FOREIGN KEY (document_pk) REFERENCES public.documents(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: chat_participants FK_a4069af98889ef5cfbb2bfbad43; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.chat_participants
    ADD CONSTRAINT "FK_a4069af98889ef5cfbb2bfbad43" FOREIGN KEY (chat_pk) REFERENCES public.chats(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users FK_a4c8323a476859969c4411b314c; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_a4c8323a476859969c4411b314c" FOREIGN KEY (account_pk) REFERENCES public.accounts(pk) ON DELETE CASCADE;


--
-- Name: chat_participants FK_a9878e03b84889dc847a754712e; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.chat_participants
    ADD CONSTRAINT "FK_a9878e03b84889dc847a754712e" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_permissions FK_ae3d3845dfb792c768617a727c2; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_permissions
    ADD CONSTRAINT "FK_ae3d3845dfb792c768617a727c2" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_documents FK_b07a63ec272ea39a8b92285beef; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_documents
    ADD CONSTRAINT "FK_b07a63ec272ea39a8b92285beef" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sessions FK_b3ce9d7e076c8d130ff3f4c9f0d; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "FK_b3ce9d7e076c8d130ff3f4c9f0d" FOREIGN KEY (account_pk) REFERENCES public.accounts(pk);


--
-- Name: users FK_b6ff5319afbbcdc5d6ba39fc237; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_b6ff5319afbbcdc5d6ba39fc237" FOREIGN KEY (country_pk) REFERENCES public.countries(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_ratings FK_b86225105733a81a7c6b377fb0e; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_ratings
    ADD CONSTRAINT "FK_b86225105733a81a7c6b377fb0e" FOREIGN KEY (product_pk) REFERENCES public.products(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: article_documents FK_bb4a788c78ff0cb48099e723374; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.article_documents
    ADD CONSTRAINT "FK_bb4a788c78ff0cb48099e723374" FOREIGN KEY (document_pk) REFERENCES public.documents(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_documents FK_c2a31d48a1a28fcbd39a33ef1e0; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_documents
    ADD CONSTRAINT "FK_c2a31d48a1a28fcbd39a33ef1e0" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users FK_c5e1ba58b1cc5445df23858316d; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_c5e1ba58b1cc5445df23858316d" FOREIGN KEY (role_pk) REFERENCES public.roles(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_ratings FK_c64a9f619d1b77aff058bfb3965; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.product_ratings
    ADD CONSTRAINT "FK_c64a9f619d1b77aff058bfb3965" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tickets FK_ca5edfe6f0d777ea434b2c38e2f; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT "FK_ca5edfe6f0d777ea434b2c38e2f" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_addresses FK_d4bb65617a07f66dea66a72c171; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_addresses
    ADD CONSTRAINT "FK_d4bb65617a07f66dea66a72c171" FOREIGN KEY (city_pk) REFERENCES public.cities(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products FK_d7c53be4de5a0e5c0a6480190b1; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_d7c53be4de5a0e5c0a6480190b1" FOREIGN KEY (measurement_pk) REFERENCES public.measurements(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: logs FK_de0e721ac793bb61a906bca5793; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.logs
    ADD CONSTRAINT "FK_de0e721ac793bb61a906bca5793" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: areas FK_e757fbac3b11ac31a83c1cb9b80; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT "FK_e757fbac3b11ac31a83c1cb9b80" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_ratings FK_eda9fc304782b1bce210e8d8988; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_ratings
    ADD CONSTRAINT "FK_eda9fc304782b1bce210e8d8988" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products FK_f1dcdc10e32856a4e2891574511; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_f1dcdc10e32856a4e2891574511" FOREIGN KEY (category_pk) REFERENCES public.categories(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders FK_f1ee64dee5a60aa04c95c4002e0; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "FK_f1ee64dee5a60aa04c95c4002e0" FOREIGN KEY (product_pk) REFERENCES public.products(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_cart FK_fad0961704191dd465eca58cf6e; Type: FK CONSTRAINT; Schema: public; Owner: samdhana
--

ALTER TABLE ONLY public.user_cart
    ADD CONSTRAINT "FK_fad0961704191dd465eca58cf6e" FOREIGN KEY (user_pk) REFERENCES public.users(pk) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

